# import neccessary functions

In [1]:
import sys
import os

In [2]:
import requests
import pandas as pd
import json
from urllib.parse import urlencode
from zoneinfo import ZoneInfo
from datetime import datetime, timedelta

In [3]:
os.chdir('..')

In [4]:
from utils.common_func import get_access_token, get_data, dt_isoformat, process_raw_data
from utils.config import HOST_NAME, BASE, BASE64_CLIENT

In [5]:
document_input = ['AGGREGATED_FRANCE','WIND_ONSHORE','WIND_OFFSHORE','SOLAR','AGGREGATED_CPC','MDSE']

In [6]:
FORECAST_SECTOR = ['AGGREGATED_PROGRAMMABLE_FRANCE','AGGREGATED_NON_PROGRAMMABLE_FRANCE', 'WIND_ONSHORE','WIND_OFFSHORE', 'SOLAR', 'AGGREGATED_CPC', 'MDSETRF', 'MDSESTS']
FORECAST_TYPE = ['CURRENT','ID','D-1','D-2','D-3']

oauth_url = f"https://{HOST_NAME}/token/oauth/ HTTP/1.1"
generation_forecast_url = f"https://{HOST_NAME}{BASE}/forecasts"

In [7]:
map_input_output_sector = {'AGGREGATED_FRANCE':['AGGREGATED_PROGRAMMABLE_FRANCE','AGGREGATED_PROGRAMMABLE_FRANCE'],
'MDSE':['MDSETRF', 'MDSESTS']}

# get data of 11 months

In [18]:
access_token = get_access_token(oauth_url)

Access token retrieved successfully.

In [13]:
# prod_type = {'production_type':'AGGREGATED_FRANCE'}
# query_param = {}
# query_param.update(prod_type)
# query_param.update(date_query)
# query_param

{'production_type': 'AGGREGATED_FRANCE'}

In [15]:
# data_res = get_data(generation_forecast_url, access_token, params = query_param, encode_dt_param=True)
# processed_data = process_raw_data(data_res)
# processed_data.production_type.unique()

array(['AGGREGATED_NON_PROGRAMMABLE_FRANCE',
       'AGGREGATED_PROGRAMMABLE_FRANCE'], dtype=object)

In [19]:
len(check)

20

In [20]:
# took 7 mins to run this block
start_date = datetime(2024,5,13,9,30,0)

# {'start_date': '2024-05-13T09:30:00+02:00',
end_date = datetime(2024,1,1,0,0,0)
# check = []
while end_date <= datetime(2024,11,1,0,0,0):
    end_date = start_date +  timedelta(7)
    date_query = {'start_date' : dt_isoformat(start_date), 'end_date' : dt_isoformat(end_date)}
    check.append(date_query)
    print(date_query)
    data_res = get_data(generation_forecast_url, access_token, params = date_query, encode_dt_param=True)
    processed_data = process_raw_data(data_res)
    
    if len(check)==1:
        # first export
        processed_data.to_csv('output_data/data_11_months.csv',index=False)    
    else:
        processed_data.to_csv('output_data/data_11_months.csv',index=False, mode='a')
    start_date = end_date + timedelta(seconds=60*30)

{'start_date': '2024-05-13T09:30:00+02:00', 'end_date': '2024-05-20T09:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-05-20T10:00:00+02:00', 'end_date': '2024-05-27T10:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-05-27T10:30:00+02:00', 'end_date': '2024-06-03T10:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-06-03T11:00:00+02:00', 'end_date': '2024-06-10T11:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-06-10T11:30:00+02:00', 'end_date': '2024-06-17T11:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-06-17T12:00:00+02:00', 'end_date': '2024-06-24T12:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-06-24T12:30:00+02:00', 'end_date': '2024-07-01T12:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-07-01T13:00:00+02:00', 'end_date': '2024-07-08T13:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-07-08T13:30:00+02:00', 'end_date': '2024-07-15T13:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-07-15T14:00:00+02:00', 'end_date': '2024-07-22T14:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-07-22T14:30:00+02:00', 'end_date': '2024-07-29T14:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-07-29T15:00:00+02:00', 'end_date': '2024-08-05T15:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-08-05T15:30:00+02:00', 'end_date': '2024-08-12T15:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-08-12T16:00:00+02:00', 'end_date': '2024-08-19T16:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-08-19T16:30:00+02:00', 'end_date': '2024-08-26T16:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-08-26T17:00:00+02:00', 'end_date': '2024-09-02T17:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-09-02T17:30:00+02:00', 'end_date': '2024-09-09T17:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-09-09T18:00:00+02:00', 'end_date': '2024-09-16T18:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-09-16T18:30:00+02:00', 'end_date': '2024-09-23T18:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-09-23T19:00:00+02:00', 'end_date': '2024-09-30T19:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-09-30T19:30:00+02:00', 'end_date': '2024-10-07T19:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-10-07T20:00:00+02:00', 'end_date': '2024-10-14T20:00:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-10-14T20:30:00+02:00', 'end_date': '2024-10-21T20:30:00+02:00'}
Forecast data fetched successfully.
{'start_date': '2024-10-21T21:00:00+02:00', 'end_date': '2024-10-28T21:00:00+01:00'}
Forecast data fetched successfully.
{'start_date': '2024-10-28T21:30:00+01:00', 'end_date': '2024-11-04T21:30:00+01:00'}
Forecast data fetched successfully.

In [21]:
date_query

{'start_date': '2024-10-28T21:30:00+01:00',
 'end_date': '2024-11-04T21:30:00+01:00'}

In [23]:
"number of API call", len(check)-1

('number of API call', 44)

# analyze queried data

In [24]:
data_all = pd.read_csv('output_data/data_11_months.csv')
data_all.shape

(417630, 10)

In [27]:
data_all.head()

,start_date,end_date,updated_date,value,load_factor,production_type,type,sub_type,start_query_date,end_query_date
0,2024-01-01T00:00:00+01:00,2024-01-01T00:30:00+01:00,2023-12-31T10:31:00+01:00,8979.0,NaN,AGGREGATED_CPC,D-1,DA01,2024-01-01 00:00:00+01:00,2024-01-08 00:00:00+01:00
1,2024-01-01T00:30:00+01:00,2024-01-01T01:00:00+01:00,2023-12-31T10:31:00+01:00,8903.0,NaN,AGGREGATED_CPC,D-1,DA01,2024-01-01 00:00:00+01:00,2024-01-08 00:00:00+01:00
2,2024-01-01T01:00:00+01:00,2024-01-01T01:30:00+01:00,2023-12-31T10:31:00+01:00,8833.0,NaN,AGGREGATED_CPC,D-1,DA01,2024-01-01 00:00:00+01:00,2024-01-08 00:00:00+01:00
3,2024-01-01T01:30:00+01:00,2024-01-01T02:00:00+01:00,2023-12-31T10:31:00+01:00,8803.0,NaN,AGGREGATED_CPC,D-1,DA01,2024-01-01 00:00:00+01:00,2024-01-08 00:00:00+01:00
4,2024-01-01T02:00:00+01:00,2024-01-01T02:30:00+01:00,2023-12-31T10:31:00+01:00,8751.0,NaN,AGGREGATED_CPC,D-1,DA01,2024-01-01 00:00:00+01:00,2024-01-08 00:00:00+01:00

In [26]:
data_all.production_type.unique()

array(['AGGREGATED_CPC', 'AGGREGATED_NON_PROGRAMMABLE_FRANCE',
       'AGGREGATED_PROGRAMMABLE_FRANCE', 'MDSESTS', 'MDSETRF', 'SOLAR',
       'WIND_OFFSHORE', 'WIND_ONSHORE', 'production_type'], dtype=object)

In [16]:
data_all.end_date

0         2024-01-01T00:30:00+01:00
1         2024-01-01T01:00:00+01:00
2         2024-01-01T01:30:00+01:00
3         2024-01-01T02:00:00+01:00
4         2024-01-01T02:30:00+01:00
                    ...
180542    2024-05-07T20:00:00+02:00
180543    2024-05-07T21:00:00+02:00
180544    2024-05-07T22:00:00+02:00
180545    2024-05-07T23:00:00+02:00
180546    2024-05-08T00:00:00+02:00
Name: end_date, Length: 180547, dtype: object